Django==5.0.4
gunicorn
whitenoise
dj-database-url
django-environ

django-cloudinary-storage
cloudinary
pillow

celery
redis
amqp
billiard
kombu
vine

psycopg2-binary

stripe
razorpay

google-generativeai

requests
python-dotenv

uvicorn